ion-toolbar {
  color: white;
  --border-style: none;
  font-size: 1.6rem;
  --background: url("../../../assets/img/header/header.png") no-repeat;
  display: flex;
  ion-select {
    text-align: center;
    width: 40%;
    margin: 0 auto;
  }
  img{
    width: 30px;
    height: 20px;
    position: absolute;
    right: 20px;
    top: 20px;
  }
  ion-icon {
    padding-right: 1.35rem;
  }
}
